{% extends "base.html" %}

{% block content %}


    <form method="post">
        <label>
            <div>title</div>
            <input type="text" name="title" value="{{title}}">
        </label>

        <label>
            <div>theText</div>
            <textarea name="theText">{{theText}}</textarea>
        </label>

        <div class="error">{{error}}</div>

        <input type="submit">

    </form>

    <hr>

    {% for aBlogEntry in blogs %}
        <div class="aBlogEntry">
            <div class="blog-title">{{aBlogEntry.title}}</div>
            <pre class="blog-body">{{aBlogEntry.theText}}</pre>
        </div>
    {% endfor %}

{% endblock %}
