{% extends "base.html" %}

{% block content %}




    {% for aBlogEntry in blogs %}

        <div class="aBlogEntry">
            <div class="blog-title"><a href={{"/blog/" ~ (aBlogEntry.key().id())}}>{{aBlogEntry.title}}</a></div>
            <pre class="blog-body">{{aBlogEntry.theText}}</pre>
        </div>
    {% endfor %}


    {% if pageBehind %}
    <a href={{"/blog?page=" ~ prevPage}}>&lt; previous</a>
    {% endif %}
    {% if pageBehind and pageAhead %}
    &nbsp;&nbsp; | &nbsp;&nbsp;
    {% endif %}
    {% if pageAhead %}
    <a href={{"/blog?page=" ~ nextPage}}>next &gt;</a>
    {% endif %}


{% endblock %}
